# Description: This file contains the environment variables that are used by the application.
# Caveats: All root fields within a single operation are treated as stub fields if any of the fields are in the list of stub fields.
# stub_fields is a list of root fields that will be stubbed
stub_fields:
  - __schema
